:root {
    --text-color: #261600;
    --skill-color: #241400;
    --link-color: #5b3400;
    --click-color: #b6884c;
    --background-color: #f5f4ef;
    --button-color: #f5f4ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
    font-weight: 300;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 15px;
    transition: .6s;
}

nav .right a:last-child .Arrow {
    position: absolute;
    opacity: 0;
    transition: .6s;
}

nav .right a:last-child:hover {
    padding-right: 30px;
}

nav .right a:last-child:hover .Arrow {
    opacity: 1;
}

nav .right a span {
    margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 80px;
    gap: 40px;
}

.hero-section .text {
    flex: 9;
}

.hero-section .text h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 45px;
}

.hero-section .text .highlight {
    font-size: 55px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    color: var(--link-color);
    transition: .4s;
}

.hero-section .text .highlight:hover {
    font-size: 62px;
}

.hero-section .text .links a {
    display: inline-block;
    font-size: 14px;
    padding: 3px 8px;
    border: 1.5px solid var(--link-color);
    border-radius: 5px;
    background-color: var(--button-color);
    margin-right: 7px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 1.5px solid var(--text-color);
    padding: 4px 9px;
}

.hero-section .headshot {
    flex: 1;
    display: flex;
    justify-content: left;
}

.hero-section .headshot img {
    width: 200px;
    border-radius: 50%;
    border: 2.5px solid var(--link-color);
}

.hero-section .text .bio-bullets {
    font-size: 14px;
    padding: 0 40px;
    margin-bottom: 15px;
}

/* SECTION 2: Skills */
.skills-section {
    background-color: var(--skill-color);
    margin: auto auto;
    width: auto;
    color: var(--background-color);
    text-align: center;
    padding: 50px 50px;
}

.skills-section h2 {
    font-size: 35px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    width: 120px;
    padding: 40px 20px;

    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.skills-section .cells .cell img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 2px;
    transition: .4s;
}

.skills-section .cells .cell img:hover {
    width: 90px;
    height: 90px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

/* SECTION 3: Project */
.projects-section {
    background-color: var(--skill-color);
    color: var(--background-color);
    padding: 0 50px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-evenly;

}

.projects-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.projects-section .groupList div {
    padding-bottom: 40px;
}

.projects-section .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.projects-section .group img {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.projects-section .group p {
    font-weight: 600;
}

.projects-section .group p:last-child {
    font-weight: normal;
}

.projects-section .group video {
    object-fit: cover;
    border-radius: 10px;
    transition: .4s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.projects-section .group .left video {
    width: 600px;
}

.projects-section .group .bigimage img {
    width: 800px;
    object-fit: cover;
    border-radius: 10px;
    transition: .4s;
}

.projects-section .group .bigimage img:hover {
    width: 850px;
}

.projects-section .group .description {
    margin: 0px;
}

.projects-section .group .description img {
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: .4s;
    margin-bottom: 20px;
}

.projects-section .group .description img:hover {
    width: 420px;
}

.projects-section .group .description a {
    color: var(--click-color);
    text-decoration: underline;
    transition: .1s;
}

.projects-section .group .description a:hover {
    opacity: 50%;
}

.projects-section .group .description a span {
    transition: .1s;
}

.projects-section .group .description a span:hover {
    font-size: 18px;
}

.projects-section .group .right video {
    width: 450px;
}

.projects-section .group .left video:hover {
    width: 650px;
}

.projects-section .group .right video:hover {
    width: 500px;
}

@media (max-width: 1280px) {

    /* NAVBAR */
    nav .right a:last-child:hover {
        padding-right: 15px;
    }

    nav .right a:last-child:hover .Arrow {
        opacity: 0;
    }

    /* SECTION 1: Hero */
    .hero-section .text h2 {
        font-size: 35px;
    }

    .hero-section .headshot img {
        width: 300px;
    }

    .hero-section .text .highlight:hover {
        font-size: 55px;
    }

    /* SECTION 2: Skills */
    .skills-section .cells .cell img:hover {
        width: 80px;
        height: 80px;
    }

    /* SECTION 3: Projects */
    .projects-section {
        margin-top: -20px;
        text-align: center;
    }

    .projects-section .group {
        margin-top: 50px;
    }

    .projects-section .group .bigimage img {
        width: 450px;
    }

    .projects-section .group .bigimage img:hover {
        width: 450px;
    }
    
    .projects-section .group .description img {
        width: 350px;
    }

    .projects-section .group .description img:hover {
        width: 350px;
    }
    .projects-section .group .description a span:hover {
        font-size: 16px;
    }

    .projects-section .group .left video {
        width: 450px;
    }

    .projects-section .group .left video:hover {
        width: 450px;
    }

    .projects-section .group .right video {
        width: 300px;
    }

    .projects-section .group .right video:hover {
        width: 300px;
    }
}

@media (max-width: 980px) {
    /* SECTION 3: Projects */
    .projects-section .group {
        gap: 20px;
    }
    
    .projects-section .group .bigimage img {
        width: 300px;
        height: 400px;
    }

    .projects-section .group .bigimage img:hover {
        width: 300px;
        height: 400px;
    }

    .projects-section .group .description img {
        width: 350px;
    }

    .projects-section .group .description img:hover {
        width: 350px;
    }

    .projects-section .group .left video {
        width: 360px;
    }

    .projects-section .group .left video:hover {
        width: 360px;
    }

    .projects-section .group .right video {
        width: 280px;
    }

    .projects-section .group .right video:hover {
        width: 280px;
    }
}

@media (max-width: 650px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 14px;
        margin: 0 2px;
    }

    nav .right a span {
        display: none;
    }

    nav .right a:last-child span {
        display: inline-flex;
    }

    /* SECTION 1: Hero */
    .hero-section {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .hero-section text h2 {
        font-size: 30px;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .text h2 {
        font-size: 35px;
    }

    .hero-section .headshot img {
        width: 300px;
    }

    .hero-section .text .links {
        display: flex;
        justify-content: center; /* Centers horizontally */
    }

    /* SECTION 2: Skills */
    .skills-section {
        padding: 50px 20px;
    }
    
    .skills-section .cells .cell img {
        width: 60px;
        height: 60px;
    }

    .skills-section .cells .cell img:hover {
        width: 60px;
        height: 60px;
    }

    .skills-section .cells .cell {
        gap: 5px;
        width: 120px;
        padding: 20px 10px;
    }


    .skills-section .cells .cell span {
        font-size: 16px;
    }

    /* SECTION 3: Projects */
    .projects-section {
        padding: 0 20px;
        padding-bottom: 50px;
        margin-top: -20px;
    }

    .projects-section .group {
        gap: 0px;
    }

    .projects-section .group .left {
        margin-top: -75px;
    }

    .projects-section .group .left video {
        width: 300px;
    }

    .projects-section .group .left video:hover {
        width: 300px;
    }

    .projects-section .group .bigimage img {
        width: 300px;
        height: 100px;
    }

    .projects-section .group .bigimage img:hover {
        width: 300px;
        height: 100px;
    }

    .projects-section .group .description img {
        width: 300px;
    }

    .projects-section .group .description img:hover {
        width: 300px;
    }

    .projects-section .group .right video {
        width: 300px;
    }

    .projects-section .group .right video:hover {
        width: 300px;
    }

    .projects-section .group {
        flex-direction: column;
    }
}
